<div class="container">

<h1>Update Merchant</h1>

<form method="post" action="/merchants/<%= @merchant.id %>">
  <label for="name">Name:</label>
    <input id="name" type="text" name="name" value="<%= @merchant.name %>" />

<br>

  <input class="submit" type="submit" value="Update merchant" />

</form>

</div>
