<div class="container">

<div class="welcome">
<h1>Spending Tracker</h1>

<h3>Welcome</h3>

<p class="intro">Spend your money with freedom.</p>
<div class="image_links">
  <a href="/transactions/new"><div class="item">

    <span class="caption">Add transaction</span>
  </div></a>
  <a href="/transactions"><div class="item">

    <span class="caption">My transactions</span>
  </div></a>
  <a href="/tags"><div class="item">

    <span class="caption">Tags</span></a>
  </div>
  <a href="/merchants"><div class="item">

    <span class="caption">Merchants</span></a>
  </div>

  <a href="/budgets"><div class="item">

    <span class="caption">My Budget</span></a>
  </div>


</div>
</div>



</div>
