<div class="container">

  <h1>Add new tag</h1>

  <form method="post" action="/tags">
    <label for="name">Tag Name</label>
    <input id="name" type="text" name="name" />
    <br>

    <button class="submit" type="text" value="Add Tag" >Add Button</button>

    </form>

    </div>
